@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   /* overflow-x:hidden;*/
}

:root {
    --bg-color: rgb(255, 255, 255);
    --font-mukta: "Mukta", sans-serif;
}
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 14px;
    height: 100vh;
}

.navbar {
    padding: 0;
}

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

  
    .navbar a, .navbar .nav-item
    .navbar a:focus, .navbar .nav-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 10px 6px 30px;
        font-size: 15px;
        color: #0b2341;
        white-space: nowrap;
        transition: 0.3s;
    }


    .navbar  a:hover, .navbar .nav-item:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar .nav-item:hover > a {
        color: #ed502e;
    }




/* utilities start */
.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 60%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.error {
    color: red;
}

.success {
    color: green;
}

.mb-1 {
    margin-bottom: 0.7rem;
}

.mt-1 {
    margin-top: 0.7rem;
}

.pt-1 {
    padding-top: 0.7rem;
}

.pb-1 {
    padding-top: 0.7rem;
}

.m-auto {
    margin: auto;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}



/*--------------------------------------------------------------
# Index and foodlist pages
--------------------------------------------------------------*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-radius:3px;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

    .btn:hover {
        background-color: rgba(255, 255, 255, 0.12);
    }

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.9);
}

.cards_item {
    padding: 1rem;
    list-style:none;
}

@media (min-width: 600px)   
  {

 .cards {
       grid-template-columns:repeat(2,1fr);

}
}
@media (min-width: 900px) {
    .cards {
        grid-template-columns: repeat(3,1fr);
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background:#fff;
}

.card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

   

.cardContainer {
    
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-top: 100px;
    width:100%;
}
.cardDetails {
   
    padding: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 250px 1fr;
    grid-column-gap: 5px;
    box-shadow: 0 0 5px rgb(0 0 0/ 10%);
    border-radius: 3px;
    height: fit-content;
    align-items: center;
}
.card-info {
    color: #071527;
    padding: 0 10px;
    font-size: 14px;
    word-break: break-all;
}
.cardTitle {
    margin-bottom: 10px;
    font-weight: 600;
}
.cardName {
 
    margin-bottom: 10px;

}
.cardDescripton {
    margin-bottom: 10px;
  
}
.image{
    width:100%;
    border-radius:5px;
}

/* tablet breakpoint */
@media (max-width:850px) {

    .cardContainer {
        grid-template-columns: 1fr
    }

    .cardDetails {
        grid-template-columns: 1fr
    }

    .image {
        margin: 0 auto;
        display:block;
        width:fit-content;
       /* align-items:center;*/
        

    }
    

    }


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    margin:50px 0 0px 0;
}

.section-bg {
    background-color: #f6f9fd;
}

.section-title {
    padding-bottom: 60px;
}

    .section-title h2 {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        line-height: 1px;
        margin: 0 0 5px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #aaaaaa;
        font-family: "Poppins", sans-serif;
    }

        .section-title h2::after {
            content: "";
            width: 120px;
            height: 1px;
            display: inline-block;
            background: #f38b74;
            margin: 4px 10px;
        }

    .section-title p {
        margin: 0;
        margin: 0;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: #0f2f57;
    }
/*section ends*/

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

    .about .content ul li {
        padding-left: 28px;
        position: relative;
    }

        .about .content ul li + li {
            margin-top: 10px;
        }

    .about .content ul i {
        position: absolute;
        left: 0;
        top: 2px;
        font-size: 20px;
        color: #ed502e;
        line-height: 1;
    }

.about .content p:last-child {
    margin-bottom: 0;
}

.input-container .cardBtn,.data .cardBtn, .card_content .cardBtn, .about .content .cardBtn {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #ed502e;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #ed502e;
}

.card_content .cardBtn, .input-container .cardBtn {
    background: transparent;
}


.input-container .cardBtn {
   margin-left:5px;
}
    .input-container .cardBtn:last-child {
        color: #071527;
        border: 2px solid #071527;
        text-decoration:none;
    }
    .input-container .cardBtn:last-child:hover{
        background: #071527;
        color:#fff;
    }
    .input-container .cardBtn:hover, .data .cardBtn:hover, .card_content .cardBtn:hover, .about .content .cardBtn:hover {
        background: #ed502e;
        color: #fff;
        text-decoration: none;
    }

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
    color: #0b2341;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    background: #fff;
}

    .contact .info-box i {
        font-size: 32px;
        color: #ed502e;
        border-radius: 50%;
        padding: 8px;
        border: 2px dotted #fbdad2;
    }

    .contact .info-box h3 {
        font-size: 20px;
        color: #777777;
        font-weight: 700;
        margin: 10px 0;
    }

    .contact .info-box p {
        padding: 0;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
    }
.contact .email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #fff;
}




    .contact .email-form input,
    .contact .email-form textarea {
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
        border-radius: 4px;
    }

        .contact .email-form input:focus,
        .contact .email-form textarea:focus {
            border-color: #ed502e;
        }

    .contact .email-form input {
        padding: 10px 15px;
    }

    .contact .email-form textarea {
        padding: 12px 15px;
    }

    .contact .email-form button[type=submit] {
        background: #ed502e;
        border: 0;
        padding: 10px 30px;
        border-radius: 4px;
        color: #fff;
        transition: 0.4s;
    }

        .contact .email-form button[type=submit]:hover {
            background: #ef6445;
        }

/*footer*/

.footer {
    background: #071527;
    padding: 0 0 20px 0;
    color: #fff;
    font-size: 14px;
    position:fixed;
    left: 0;
    right: 0;
    bottom:0;
    margin-top:70px;
}

    .footer .copyright {
        border-top: 1px solid #0f2f57;
        text-align: center;
        padding-top: 20px;
    }


/*@media (max-width: 575px) {
    .footer {
        margin: -20px 0 30px 0;
    }
}*/



/*footer ends*/



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #ed502e;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

    .back-to-top i {
        font-size: 28px;
        color: orangered;
        line-height: 0;
    }

    .back-to-top:hover {
        background: #f06f54;
        color: #fff;
    }

    .back-to-top.active {
        visibility: visible;
        opacity: 1;
    }


    

