
@{
    ViewData["Title"] = "About";
}

<section class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <p>
                    “Cooking demands attention, patience, and above all, a respect for the gifts of the earth. It is a form of worship, a way of giving thanks.” Cooking is like love. It should be entered into with abandon or not at all.
                </p>
                <ul>
                    <li><i class="fa fa-check" aria-hidden="true"></i>Snacks Recipes</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>Fruit juice and smoothies</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>Solid meals like Breakfast,Lunch and Dinner</li>
                </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    Zober’s Recipes make  Expressing Love With Your Hands For Your Loved Ones through cooking, a beautiful thing. Enjoy These Super cool Recipes to help in  healthy eating..
                </p>
                <a href="#"  style="text-decoration:none;"class="btn-learn-more">Learn More</a>
            </div>
        </div>

    </div>
</section>

