@{

    ViewData["Title"] = "Contact";


}


<section  class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            @*  <p>Contact Us</p>*@
        </div>

        <div class="row">

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <h3>Our Address</h3>
                            <p>12b Cetenary , Enugu, Nigeria </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <h3>Email Us</h3>
                            <p>info@Tence.com<br>contact@Tenece.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <h3>Call Us</h3>
                            <p>+2347031653729<br>+2347039013194</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <form action="" method="post" role="form" class="email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>

                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
