@model MvcFoodRecipe.Models.Domain.FoodItem
@{
}



<section class="cardContainer">
    <div class="cardDetails">
        <div  class="image">
        <img class="pic" alt="image" src="/Uploads/@Model.RecipeImage">
        </div>
    <div class="card-info">
            <div class="cardTitle">@Model.Title</div>
           @*<h5>Director : @Model.FoodPhoto</h5>*@
            <div class="cardName">Ingredients:@Model.Ingredients </div>
            <div class="cardDescripton">Steps:@Model.Steps</div>
            <div class="data">
                <a href="/Home/Index" style="text-decoration:none;" class="cardBtn">Back</a>
            </div>
        </div></div>
</section>
