@model MvcFoodRecipe.Models.DTO.FoodListVm
@{

    ViewData["Title"] = "I never refuse the food that someone offers me because this is my ninja way!";
  
    Layout = "_Layout";
}


<div class="jumbotron jumbotron-fluid" style="margin-top: 100px;height: 60%; padding: 10px 0;font-family: sans-serif;">
    <div class="container">
        <h1 class="text-center" style="font-family: Oswald;font-weight: bold"><span style="color:red";>Zober's </span>Food Recipe</h1>
        <p class="lead text-center">
            I never refuse the food that someone offers me because this is my ninja way!".
            <cite style="color:#333";class=" badge badge-dark">Foodies's word</cite>
        </p>
    </div>
</div>

<ul class="cards">
        @foreach (var food in Model.FoodList)
        {
            <li class="cards_item">
        <div class="card">
            <div onclick="window.location.href='/Home/FoodDetail?foodId=@food.Id'">
                    <div class="card_image">
                        <img  src="/Uploads/@food.RecipeImage">
                        </div>
                    <div class="card_content">
 
                        <h5 class="card-title">@food.Title</h5>
                        <p class="card-text"> HealthLabel: @food.HealthLabel</p>
                        <p class="card-text">DietLabel: @food.DietLabel</p>
                        <p class="card-text">Calories: @food.Calories</p>

                        <button class="btn btn-sm text-black" onclick="window.location.href='/Home/FoodDetail?foodId=@food.Id'">View Details</button>
                          
                    </div>
                </div></div>
                </li>
        }
  </ul>



